POSTGRES_USER=zainstreat
POSTGRES_PASSWORD=zainstreat_dev
POSTGRES_DB=zainstreat
POSTGRES_PORT=5432

MINIO_ROOT_USER=zainstreat
MINIO_ROOT_PASSWORD=zainstreat_dev
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001

API_PORT=8080
WEB_PORT=3000
